.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}
.contactBoxWrapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contactText {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contactBtn {
  display: block;
  padding: 5px;
  border: 1px solid #0000008f;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 250ms linear;
}
.contactBtn:hover,
.contactBtn:active,
.contactBtn:focus {
  background-color: rgba(128, 128, 128, 0.435);
}
.contactBox:has(.contactBtn:hover, .contactBtn:active, .contactBtn:focus) {
  border: 1px solid red;
}
