.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}
.contactBoxWrapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contactText {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contactBtnWrapp {
  display: flex;
  flex-direction: column;
}

.contactBtnEdit {
  background-color: #fff;
}

.iconStyle {
  font-size: 24px;
  transition: color 0.3s ease;
}

.iconStyle:hover {
  color: dimgray;
}

.contactBtnDelete {
  display: block;
  padding: 5px;
  border: 1px solid #0000008f;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 250ms linear;
}
.contactBtnDelete:hover,
.contactBtnDelete:active,
.contactBtnDelete:focus {
  background-color: rgba(128, 128, 128, 0.435);
}
.contactBox:has(
    .contactBtnDelete:hover,
    .contactBtnDelete:active,
    .contactBtnDelete:focus
  ) {
  border: 1px solid red;
}

/* Styles for the modal window */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmTextModal {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.confirmBtnModal {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.confirmBtnModal:hover,
.confirmBtnModal:focus,
.confirmBtnModal:active {
  background-color: red;
}

.cancelBtnModal {
  background-color: rgba(128, 128, 128, 0.6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cancelBtnModal:hover,
.cancelBtnModal:focus,
.cancelBtnModal:active {
  background-color: gray;
}
