.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 15px;
  border: 1px solid #000000aa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
.fieldWrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field {
  border: 1px solid #0000009c;
  border-radius: 5px;
  padding: 6px;
}
.error {
  color: red;
}
.btnContactForm {
  display: block;
  /* width: 100px; */
  padding: 5px;
  border: 1px solid #0000008f;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 250ms linear;
}
.btnContactForm:hover,
.btnContactForm:active,
.btnContactForm:focus {
  background-color: rgba(128, 128, 128, 0.435);
}
